{% extends 'header.html' %}
{% block content %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/create_post.css'%}" type="text/css">
{% endblock %}
<div class='containter_post'>
    <form action='{% url 'index' %}' method='post'>
        {% csrf_token %}
        <div class='title_text'>Заголовок поста</div>
        <input type='text' class='title_post' name='title'>
        <textarea name='text' id="textComment" name="textComment"
        style="padding:20px;
        padding-bottom:250px;
        font-size:16px;
        height: 300px;
        width: 100%;" ></textarea>
        <button name="button">Добавить пост</button>
    </form>
</div>
{% endblock %}