{% extends "header.html" %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/posts_style.css'%}" type="text/css">
{% endblock %}
{% block content%}
<div class="posts">
    {% for post in post_list %}
    <div class="post">
        <div class="title">
            {{ post.title }}
        </div>
        <div>
            {{ post.text|truncatechars:220 }}
        </div>
        <div class="read">
            <a href="{{ post.get_absolute_url }}">Читать пост >></a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}